{{#if session.isAuthenticated}}
<a href="#" {{ action 'invalidateSession' }}>Logout</a> <br/>
  visit protected page {{#link-to 'hello'}}hello{{/link-to}}
  <br/>
  username: {{input value=username}}
  <br/>
  <a href="#" {{ action 'getUser' }}>getUser</a>
  <a href="#" {{ action 'updateUser' }}>updateUser</a>
  <a href="#" {{ action 'createUser' }}>createUser</a>
  <a href="#" {{ action 'deleteUser' }}>deleteUser</a>
{{else}}
  please {{#link-to 'login'}}Login{{/link-to}} first!<br/>
  visit protected page {{#link-to 'hello'}}hello{{/link-to}}
{{/if}}

